/* header style */
*{
    margin: 0;
   }
.header-with{
    max-width: 1140px;
    margin: auto;
}
.container{
    background-image: url("../Assets/Hero-bg.png");
    background-color: brown;
    min-height: 500px;
}

.header-area{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.header-area h2{
    color:  rgba(78, 71, 255, 1);

    font-family: Raleway;
    font-size: 34px;
    font-weight: 900;
}

/* common css style */
.btn{ 
    background-color: rgba(78, 71, 255, 1);
    font-size: 16px;
    font-weight: 500;
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
    letter-spacing: 0.5px;
}

h2{
    color: rgba(37, 36, 50, 1);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;

}
.all-bg{
    background: rgba(245, 248, 255, 1);
}

/* banner style */
.banner{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 200px;
}
.banner h1{
    color: rgba(37, 36, 50, 1);

    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* action section style */
.action-section{
    background: rgba(245, 248, 255, 1);
    padding: 100px 0px;
}
.action-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-left p{
    color: rgba(15, 15, 15, 0.5);
    font-size: 24px;
    font-weight: 400;
    width: 68%;
    margin: 20px 0;

}

/* counting style start */
.counting-section{
    background: rgba(245, 248, 255, 1);
    padding: 60px 0px;
}
.counting{
    
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
    padding: 50px;
    text-align: center;
    
}
.counting-area{
    display: flex;
    justify-content: space-around;
    
}
.counting h2{
    margin-bottom: 20px;
}
.count-head{
    color:  rgba(78, 71, 255, 1);
    font-size: 80px;
    font-weight: 800;
    font-family: inter;
 }
 .count-text{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
 }

 /* review-section */
 .review-section{
    background: rgba(245, 248, 255, 1);
    padding: 60px 0px;
 }
 
 .review-area{
    display: flex;
    justify-content: space-between;
    gap: 20px;
 }
 .review{
    max-width: 1140px;
    margin: auto;
    
 }
 .review h2{
    text-align: center;
    margin-bottom: 50px;
 }
 .review-box{
    box-sizing: border-box;
    border: 1px solid rgba(242, 237, 237, 1);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 24px;
 }
 .review-box img{
    margin-bottom: 15px;
 }
 .review-box h3{

color: rgba(30, 30, 30, 1);
font-family: Inter;
font-size: 24px;
font-weight: 600;
}
.review-box p{
    color: rgba(30, 30, 30, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 10px auto;
}
.client-section{
    display: flex;
    gap: 10px;
    
}
.client-section img{
    border-radius: 50px;
}
.client-section h4{
    color: rgba(117, 117, 117, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
.client-section p{
    color: rgba(179, 179, 179, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
}

/* focus style  */
.focus{
    max-width: 1140px;
    margin: auto;
    text-align: center;
    padding: 71px 0px;
    border-radius: 14px;
    background: rgba(255, 255, 255, 1);
}
.focus p{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 15px auto;
}
.focus .btn{
    margin-bottom: 15px;
}
.focus img{
    width: 840px;
    height: 364.77px;
    border-radius: 48px;
}

.contact-section{
    max-width: 1140px;
    margin: auto;
}
.contact-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    gap: 0px;
 }
 .contact-area h2{
    color: rgba(0, 0, 0, 1);
    font-family: Raleway;
    font-size: 80px;
    font-weight: 700;

 }

.contact-form {
    
    border-radius: 12px;
    
    
}
.contact-form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;

}

.contact-form textarea {
    
    height: 100px;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    background: #4f46e5; /* purple/blue */
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
      background: #4338ca;
}


/* footer desgin start */
.footer-section{
    text-align: center;
    padding-bottom: 30px;
}
.footer-logo{
    color:  rgba(78, 71, 255, 1);
    font-family: Inter;
    font-size: 100px;
    font-weight: 900;
}
.footer-text{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0px;
    width: 40%;
    margin: auto;
}

.footer-menu{
    display: flex;
    justify-content: center;
    gap: 30px;
}
ul li{
    
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #000;
    
}



